// Extra small devices (portrait phones, less than 576px)
@media (min-width:367px) and(max-width: 575.98px) {
    html {
        font-size: $fontSizeXs;
    }
    // SEARCH BAR
    .search__bar {
        width: $widthXs;
        .search__bar__wrapper {
            .search__bar__wrapper--header {
                @include search__bar__wrapper--header;
            }
            .search__bar__form {
                width: $widthXs;
                height: $formHeight;
                .search__bar__form--container {
                    .search__bar__form--icon {
                        @include search__bar__form--icon;
                    }
                    .search__bar__form--input {
                        width: $widthXs - 8rem;
                        @include search__bar__form--input;
                        &::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            font-size: $inputFontSize;
                        }
                        &::-moz-placeholder {
                            /* Mozilla */
                            font-size: $inputFontSize;
                        }
                    }
                }
            }
            .search__bar__form--button {
                @include search__bar__form--button;
            }
        }
    }
    // ITEMS FROM DATABASE
    .container {
        width: $widthXs;
        .album__list {
            margin: 0 auto;
            margin-top: 3rem;
            margin-bottom: 2rem;
            .album__list__album--item {
                // height: 15rem;
                .album__list__album--thumbnail{
                    img{
                        margin-top:0;
                    }
                }
                .album__list__album__details {
                    .album__list__details--artist {
                        @include album__list__details--artist;
                    }
                    .album__list__details--title {
                        font-size: $albumTitleFontSize;
                    }
                    .album__list__details--offer {
                        height: $albumOfferHeight;
                        .album__list__details--price {
                            @include album__list__details--price;
                            span {
                                font-size: 1.3rem;
                                margin-right: .5rem;
                            }
                        }
                        a {
                            span {
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-top: -3rem;
                                .svg-inline--fa.fa-shopping-cart {
                                    font-size: 1.4rem;
                                }
                                &:hover {
                                    width: 4rem;
                                    height: 4rem;
                                    &:hover::after {
                                        font-size: .8rem;
                                        top: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .search__bar--fixed .search__bar__wrapper--fixed .search__bar__form--fixed{
        width:50%
    }
    .search__bar--fixed .search__bar__wrapper--fixed .search__bar__wrapper--header--fixed{
        width:22%
    }
    
    .search__bar--fixed .search__bar__wrapper--fixed .search__bar__form--button--fixed{
        width:20%;
        margin:1.5rem 0;
    }
}
