// Font-Size
$fontSizeXs :11px;
$fontSizeSm :12px;
$fontSizeMd :14px;
$fontSizeLg :16px;
$fontSizeXl :18px;

// width
$widthXs :28rem;
$widthSm :40rem;
$widthMd :50rem;
$widthLg :60rem;
$widthXl :61.1rem;

// Searchbar
$formHeight: 10rem;
$inputFontSize:2rem;
$albumTitleFontSize:1.2rem;
$albumOfferHeight:6rem;